.blog-body{
    margin-top:2%;
   
}
#temporary-container {
    height: 120vh;
    max-height:max-content;
    overflow: hidden;
    background:#FDF3CD;    

    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;


  }

#star{ 
    animation: fall 8s linear forwards infinite;
    animation-delay: 1s;
    height:max-content;
  }
  @keyframes fall {
    from {
      transform: translateY(-10vh);
    }
    to {
      transform: translateY(100vh);
    }
  }

#star2{ 
    animation: fall 10s linear forwards infinite;
    animation-delay: 1s;
    opacity:30%;
    height:max-content;

  }
  @keyframes fall {
    from {
      transform: translateY(-10vh);
    }
    to {
      transform: translateY(100vh);
    }
  }
.construction-message{
    text-align: center;
}
#construction-image{
    margin-bottom:7%;
    opacity:80%;
}
.coming-soon-text{
    font-family: Poppins;
    font-weight:600;
    font-size:35px;
    margin-top: 2.5%;
    color:#506DB0;
}